/* color palette:
    #6398be
    #dbcbce
    #3f6788
    #0d111a
*/

*{
    margin: 0;
    padding: 0;
}

body{
    background: url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1413&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.App{
    margin: 15vh 20vw;
    background-color:#dbcbce;
    height: 100%;
    border: 5px solid #3f6788;
    color:#0d111a;
    font-weight: 600;
}

header{
    background-color: #0d111a;
    color: #dbcbce;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}   

#search-section{
    background-color: #dbcbce;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#zip-code-input{
    margin-left: 10px;
    padding: 0.5vh 0.5vh;
}

#search-btn{
    background-color: #3f6788;
    color: white;
    padding: 5px 20px 5px 20px;
    margin-left: 10px;
    border: 1px solid #dbcbce;
    border-radius: 5px;
}

#zip-not-found{
    text-align: center;
    padding: 10px 0 10px 0;
}

#city-card{
    background-color: white;
    color: #dbcbce;
    width: 60%;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 20px;
    
}

#city-card h2{
    background-color: #0d111a;
    margin: 0;
    padding: 20px 0 10px 30px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#city-info{
    color: #0d111a;
    font-size: 20px;
    padding: 30px;
}